body {
    font-family: 'Raleway', sans-serif;
    max-width: 736px;
}

h1 {
    text-shadow: -3px 2px 5px rgba(150, 150, 150, 1);
    font-size: 3em;
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
    font-family: 'ShareTech Mono', monospace;
    font-size: 1.5em;
}

table {
   width: 100%;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}

th {
    padding: .5em;
    float: left;
    margin-left: .8em;
}

hr {
    border-top: 1px solid black;
}

#search {

}

.publish_date {
    font-style: italic;
    font-size: .9em;
}

.post {
    margin-top: 3em;
    margin-bottom: 5em;
}